<div class="mdl-mini-footer--left-section sns-list">
    <ul class="list-inline text-center">
      <!-- Mail -->
        <% if(theme.sns.email) { %>
            <li>
                <a target="_blank" href="mailto:<%= theme.sns.email %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-mail-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- Twitter -->
        <% if(theme.sns.twitter) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.twitter %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-twitter-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- Facebook -->
        <% if(theme.sns.facebook) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.facebook %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-facebook-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
       <!-- Weibo -->
        <% if(theme.sns.weibo) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.weibo %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-weibo-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- Wechat -->
        <% if(theme.sns.wechat) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.wechat %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-wechat-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- Instagram -->
        <% if(theme.sns.instagram) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.instagram %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-instagram-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- Tumblr -->
        <% if(theme.sns.tumblr) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.tumblr %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-tumblr-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- Github -->
        <% if(theme.sns.github) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.github %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-github-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- Zhihu -->
        <% if(theme.sns.zhihu) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.zhihu %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-zhihu-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- BiliBili -->
        <% if(theme.sns.bilibili) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.bilibili %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-bilibili-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
        <!-- Telegram -->
        <% if(theme.sns.telegram) { %>
            <li>
                <a target="_blank" href="<%= theme.sns.telegram %>">
                    <span class="fa-stack fa-lg">
                        <i class="iconfont icon-telegram-fill"></i>
                    </span>
                </a>
            </li>
        <% } %>
    </ul>
</div>
